
  <ion-header [translucent]="true" *ngIf="returnConnected()">
    <ion-toolbar color="dark">
      <ion-title>
        Historique
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="false" *ngIf="returnConnected()">
    <ion-list>
      <ion-list-header>
        Trajets
      </ion-list-header>

      <style>
        h2,h3,p {
          display: inline;
        }
        .prix {
          float: right;
        }
        .date {
          float: right;
        }
      
      </style>

  <ng-container *ngIf="trajetfait">

    <ng-container *ngFor='let trajets of liste_dates'>
        <div class="item" *ngIf="trajets.role=='Conducteur'" (click)="showTrajet(trajets)">
        <ion-label>
          <center><p class="emplacement">{{trajets.role}}</p></center>
          <label for="Départ">🏃🏻‍♂️<h3 id="Départ">{{ trajets.trajet.tra_lieuDepart }}</h3></label> <h3 class="date"><ion-datetime style="display:inline-block; margin-top:10px;" class="force-black-font" display-format="DD/MM/YYYY" value={{trajets.date}} disabled></ion-datetime></h3> <br/>
          <label for="Fin">🏁<h3 id=" Fin">{{ trajets.trajet.tra_lieuArrivee }}</h3></label>
        </ion-label>
      </div>
    </ng-container>

    <div style="margin-top:20px"></div>

    <ng-container *ngFor='let trajets of liste_dates'>
        <div class="item" *ngIf="trajets.role=='Passager'" (click)="showTrajet(trajets)">
        <ion-label>
          <center><p class="emplacement">{{trajets.role}}</p></center>
          <label for="Départ">🏃🏻‍♂️<h3 id="Départ">{{ trajets.trajet.tra_lieuDepart}}</h3></label> <h3 class="date"><ion-datetime style="display:inline-block; margin-top:10px;" class="force-black-font" display-format="DD/MM/YYYY" value={{trajets.date}} disabled></ion-datetime></h3> <br/>
          <label for="Fin">🏁<h3 id=" Fin">{{ trajets.trajet.tra_lieuArrivee }}</h3></label>
        </ion-label>
      </div>
    </ng-container>

  </ng-container>
  <ng-container *ngIf="!trajetfait">
    <p>Vous n'avez pas encore fait de trajet.</p>
  </ng-container>

  </ion-list>
    

</ion-content>

