<ion-header [translucent]="true">
</ion-header>

<ion-content>

      <h1 class="MyCovoit"><strong><center>MYCOVOIT</center></strong></h1>

<div class ="container"> 
      <ion-item class="champ" lines="none">   
            <ion-label floating color="light">Mail :</ion-label>
            <ion-input placeholder="Adresse mail" no-lines type="email" color="light" [(ngModel)]="dataUser.email"></ion-input>
      </ion-item>
      <ion-item class="ligne"></ion-item>
      <ion-item class="champ" lines="none">
            <ion-label floating color="light">Code d'inscription :</ion-label>
            <ion-input placeholder="Code d'inscription" no-lines type="text" color="light" minlength="10" [(ngModel)]="dataUser.code"></ion-input>
      </ion-item>
      <ion-item class="ligne"></ion-item>
      <ion-item class="champ" lines="none">
            <ion-label floating color="light">Mot de passe :</ion-label>
            <ion-input placeholder="Mot de passe" no-lines [type]="passwordType" color="light" minlength="8" [(ngModel)]="dataUser.password"></ion-input>
            <ion-icon color="light" item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>  
      </ion-item>
      <ion-item class="ligne"></ion-item>
      <ion-item class="champ" lines="none">
            <ion-label floating color="light">Confirmer :</ion-label>
            <ion-input (keyup.enter)="signUp()" placeholder="Saisir à nouveau" no-lines [type]="passwordType" color="light" [(ngModel)]="dataUser.password2"></ion-input>
            <ion-icon color="light" item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>  
      </ion-item>
      <ion-item class="ligne"></ion-item>
      <ion-item lines="none">
      </ion-item>
            <center> <ion-button shape="round" color="primary" (click)="signUp()">S'inscrire</ion-button></center>
            <center> <ion-button color="light"  shape="round" style="margin-top:5%" (click)="Inscript()">Déjà inscrit</ion-button></center>
            
  </div>

 
</ion-content>
