<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-menu-button id="bouton" side="end"></ion-menu-button>
      </ion-buttons>
    <div *ngFor='let item of utilisateurs | async'>
      <div class="top">
        <p style="color:#ffffff; margin:0; padding:0px 0px;"  *ngIf='item.id == userid'>{{item.prenom}}&nbsp;{{item.nom}}</p>
      </div >
      <div class="space-between" *ngIf='item.id == userid'>
        <div class="followings">
          <ion-badge color="primary" mode="ios">4.5</ion-badge>
          <p>Note</p>
        </div>
        <div class="followings" >
          <ion-badge *ngIf='item.id == userid && item.sexe == "homme"' color="primary" mode="ios" >M</ion-badge>
          <ion-badge *ngIf='item.id == userid && item.sexe == "femme"' color="primary" mode="ios" >F</ion-badge>
          <ion-badge *ngIf='item.id == userid && item.sexe == "autres"' color="primary" mode="ios" >A</ion-badge>
          <p>Genre</p>
        </div>
      </div>
      </div>
  </div>

<div class="flex">
  <div class="box-border">
    <div class="border-white">
      <div class="img-box">
        <img id="imgProfil" [src]="images">
      </div>
    </div>
  </div>
</div>


<ion-card>
<div class="corp" *ngFor='let item of utilisateurs | async'>
    <p *ngIf='item.id == userid' style="color:rgb(50,50,50)"><span class="important">Nom :</span> {{item.nom}}</p>
    <p *ngIf='item.id == userid' style="color:rgb(50,50,50)"><span class="important">Date de naissance :</span> {{item.date_naiss | date: 'dd/MM/yyyy'}}</p>
    <p *ngIf='item.id == userid' style="color:rgb(50,50,50)"><span class="important">Adresse :</span> {{item.adresse}}</p>
    <p *ngIf='item.id == userid' style="color:rgb(50,50,50)"><span class="important">Ville :</span> {{item.ville}}</p>
    <p *ngIf='item.id == userid' style="color:rgb(50,50,50)"><span class="important">Code Postal :</span> {{item.cp}}</p>
    <p *ngIf='item.id == userid' style="color:rgb(50,50,50)"><span class="important">Mail :</span> {{item.mail}}</p>
    <p *ngIf='item.id == userid' style="color:rgb(50,50,50)"><span class="important">Téléphone :</span> {{item.tel}}</p>
    <p *ngIf='item.id == userid' style="color:rgb(50,50,50)"><span class="important">Bio :</span> {{item.bio}}</p>
</div>
</ion-card>
</ion-content>
<!--<ion-toolbar>
  <ion-title>profil</ion-title>
</ion-toolbar>-->

