<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
     Proposer un trajet
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="dark"><strong>Gestion Des Propositions</strong></ion-text>
      </h1>
      <p margin-bottom>
      </p>
    </ion-card-content>


    <ion-list margin-bottom>
      <ion-list-header color="light">
        <h4><ion-label class="fw700">Itinéraire</ion-label></h4>
      </ion-list-header>
      <br>

      <ion-item>
        <div>
          <ion-text>
            <h4><ion-label color="dark" position="floating">D'où partez-vous ? :</ion-label></h4>
          </ion-text>
            <ion-input placeholder="8 rue Voltaire" [(ngModel)]="trajet.tra_lieuDepart"></ion-input>

        </div>

        
        <div>
          <ion-text>
            <h4><ion-label color="dark" position="floating">Où allez-vous ? :</ion-label></h4>
          </ion-text>
            <ion-input placeholder="Hôtel du Moulin" [(ngModel)]="trajet.tra_lieuArrivee"></ion-input>
        </div>
        
        <div>
          <ion-text>
            <h4><ion-label color="dark" position="floating">Etapes :</ion-label></h4>
          </ion-text>
            <ion-input placeholder="Caen" [(ngModel)]="trajet.tra_etape"></ion-input>
        </div>
      </ion-item>
    </ion-list>

    

    <ion-list margin-bottom>
      <ion-list-header color="light">
        <h4><ion-label class="fw700">Date et horaire</ion-label></h4>
          
        
      </ion-list-header>
      <br>

      <ion-grid style="width:100%">
        <ion-row>
          <ion-col class ="case">        
              <ion-label color="dark" position="stacked">Date de départ :</ion-label>
              <input type="date" value="" name="date" size="12" id="champ_date" maxlength="30" [(ngModel)]="trajet.tra_dateDepart">         
            </ion-col>
          <ion-col class ="case">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class ="case">         
              <ion-label color="dark" position="stacked"> Heure de départ </ion-label>
              <ion-datetime class="encadrer-un-contenu" display-format = "HH:mm" [(ngModel)]="trajet.tra_heureDepart"> </ion-datetime>          
            </ion-col>
          <ion-col class ="case">   
              <ion-label color="dark" position="stacked"> Heure d'arrivée </ion-label>
                <ion-datetime class="encadrer-un-contenu" display-format = "HH:mm" [(ngModel)]="trajet.tra_heureArrivee"> </ion-datetime>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card>
  <center><ion-button id="bouton-envoyer" (click)="presentAlertConfirm(utilisateurTrajet,trajet)">Proposer</ion-button></center>
</ion-content>
