<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
     Proposer un trajet
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="dark"><strong>Gestion Des Propositions</strong></ion-text>
      </h1>
      <p margin-bottom>
      </p>
    </ion-card-content>


    <ion-list margin-bottom>
      <ion-list-header color="light">
        <h4><ion-label class="fw700">Itinéraire</ion-label></h4>
      </ion-list-header>
      <br>

      <ion-item>
        <div style="width:100%">
            <h4><ion-label color="dark" position="floating">D'où partez-vous ? :</ion-label></h4>
            <ion-input readonly="{{isDisabledDepart()}}" style="width:90%; display:inline-block;" (ngModelChange)="getVilleDepart($event)" (ionFocus)="showVilleDepart(true)"id="test" placeholder="Ville de départ" [(ngModel)]="Tra_lieuDepartBIS" type="string" ></ion-input>
            <ion-icon (click)="suppVilleDepart()" *ngIf="Tra_lieuDepartBIS.length>0" style="width: 25px;height: 25px;float: right;display: block;margin-top: 7px;" name="close"></ion-icon>
            <div *ngIf="liste_depart.features != undefined && showvilleDepart==true && Tra_lieuDepartBIS.length>=3">
              <ion-list>
                <ion-item (click)="addVilleDepart(liste_depart.features[0].properties)" *ngIf="liste_depart.features[0] != undefined">{{liste_depart.features[0].properties.label}}</ion-item>
                <ion-item (click)="addVilleDepart(liste_depart.features[1].properties)" *ngIf="liste_depart.features[1] != undefined">{{liste_depart.features[1].properties.label}}</ion-item>
                <ion-item (click)="addVilleDepart(liste_depart.features[2].properties)" *ngIf="liste_depart.features[2] != undefined">{{liste_depart.features[2].properties.label}}</ion-item>
              </ion-list>
            </div>
          </div>

        
        <div> 
            <h4><ion-label color="dark" position="floating">Où allez-vous ? :</ion-label></h4>
            <ion-input readonly="{{isDisabledArrivee()}}" style="width:80%; display:inline-block;" (ngModelChange)="getVilleArrivee($event)" (ionFocus)="showVilleArrivee(true)"id="test" placeholder="Ville d'arrivée" [(ngModel)]="Tra_lieuArriveeBIS" type="string" ></ion-input>
            <ion-icon (click)="suppVilleArrivee()" *ngIf="Tra_lieuArriveeBIS.length>0" style="width: 25px;height: 25px;float: right;display: block;margin-top: 7px;" name="close"></ion-icon>
            <div *ngIf="liste_arrivee.features != undefined && showvilleArrivee==true && Tra_lieuArriveeBIS.length>=3">
              <ion-list>
                <ion-item (click)="addVilleArrivee(liste_arrivee.features[0].properties)" *ngIf="liste_arrivee.features[0] != undefined">{{liste_arrivee.features[0].properties.label}}</ion-item>
                <ion-item (click)="addVilleArrivee(liste_arrivee.features[1].properties)" *ngIf="liste_arrivee.features[1] != undefined">{{liste_arrivee.features[1].properties.label}}</ion-item>
                <ion-item (click)="addVilleArrivee(liste_arrivee.features[2].properties)" *ngIf="liste_arrivee.features[2] != undefined">{{liste_arrivee.features[2].properties.label}}</ion-item>
              </ion-list>
            </div>
        </div>
        






        <div style="width: 100%;">
          <ion-grid>
              <ion-row>
            <ion-col style="position:relative;width:50px;padding-right: 0;" size=1;><h4 style="position:relative;display:inline-block;"><ion-label color="dark" position="floating">Etapes ?</ion-label></h4></ion-col>
            <ion-col style="position:relative;padding-left: 0;"><button style="position:absolute; top:50; bottom:50; color:black; display:inline-block; width:24px; height:24px; padding:2px; margin-top:16px; margin-bottom:9px" (click)="Add()"><ion-icon name="add-outline"></ion-icon></button></ion-col>
              </ion-row>
          </ion-grid>
        </div>
      </ion-item>
    </ion-list>
   
    <ion-item *ngFor="let att of anArray; let idx = index">
      <ion-label>Étape {{idx+1}} :</ion-label>
      <ion-input readonly="{{disabledEtape[idx].value}}" style="width:80%; display:inline-block;" (ngModelChange)="getVilleEtape($event,idx)" (ionFocus)="showVilleEtape(true,idx)"id="test" placeholder="Etape" [(ngModel)]="listeEtapeBIS[idx].value" type="string" ></ion-input>
      <ion-icon (click)="suppVilleEtape(idx)" *ngIf="listeEtapeBIS.length>0" style="width: 25px;height: 25px;float: right;display: block;margin-top: 7px;" name="close"></ion-icon>
      <div *ngIf="liste_etape[idx].length>0 && showvilleEtape[idx]==true && listeEtapeBIS[idx].value.length>=3">
       
        <ion-list>
          <ion-item (click)="addVilleEtape(liste_etape[idx][0],idx)" *ngIf="liste_etape[idx][0] != undefined && liste_etape[idx][0].codeDepartement != undefined">{{liste_etape[idx][0].nom}} ( {{liste_etape[idx][0].codeDepartement}} )</ion-item>
          <ion-item (click)="addVilleEtape(liste_etape[idx][1],idx)" *ngIf="liste_etape[idx][1] != undefined && liste_etape[idx][1].codeDepartement != undefined">{{liste_etape[idx][1].nom}} ( {{liste_etape[idx][1].codeDepartement}} )</ion-item>
          <ion-item (click)="addVilleEtape(liste_etape[idx][2],idx)" *ngIf="liste_etape[idx][2] != undefined && liste_etape[idx][2].codeDepartement != undefined">{{liste_etape[idx][2].nom}} ( {{liste_etape[idx][2].codeDepartement}} )</ion-item>
        </ion-list>
      </div>
      <!-- <ion-label color="primary">{{att.label}}{{idx+1}}</ion-label> -->
  </ion-item>
  <center><button *ngIf="listeEtape.length > 1" style="color:black; display:inline-block; width:25px; padding:2px; margin-top:16px; margin-bottom:9px" (click)="Remove()"><ion-icon name="remove-outline"></ion-icon></button></center>
        


  <ion-item>
    <ion-label>Nombre de place : </ion-label>
    <ion-input type="number" value='0' min='0' max='8' [(ngModel)]="trajet.tra_nbPlaces"></ion-input>
  </ion-item>
    
    <ion-list margin-bottom>
      <ion-list-header color="light">
        <h4><ion-label class="fw700">Date et horaire</ion-label></h4>
      </ion-list-header>
      <br>

      <ion-grid style="width:100%">
        <ion-row>
          <ion-col class ="case">        
              <ion-label color="dark" position="stacked">Date de départ :</ion-label>
              <input type="date" value="" name="date" size="12" id="champ_date" maxlength="30" [(ngModel)]="trajet.tra_dateDepart">         
            </ion-col>
          <ion-col class ="case">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class ="case">         
              <ion-label color="dark" position="stacked"> Heure de départ </ion-label>
              <ion-datetime class="encadrer-un-contenu" display-format = "HH:mm" [(ngModel)]="trajet.tra_heureDepart"> </ion-datetime>          
            </ion-col>
          <ion-col class ="case">   
              <ion-label color="dark" position="stacked"> Heure d'arrivée </ion-label>
                <ion-datetime class="encadrer-un-contenu" display-format = "HH:mm" [(ngModel)]="trajet.tra_heureArrivee"> </ion-datetime>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card>
  <center><ion-button id="bouton" (click)="formValidation(utilisateurTrajet,trajet)">Proposer</ion-button></center>
</ion-content>
