<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
     Proposer un trajet
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="dark"><strong>Gestion Des Propositions</strong></ion-text>
      </h1>
      <p margin-bottom>
      </p>
    </ion-card-content>


    <ion-list margin-bottom>
      <ion-list-header color="light">
        <h4><ion-label class="fw700">Itinéraire</ion-label></h4>
      </ion-list-header>
      <br>

      <ion-item>
        <div>
            <h4><ion-label color="dark" position="floating">D'où partez-vous ? :</ion-label></h4>    
            <ion-input placeholder="8 rue Voltaire" [(ngModel)]="trajet.tra_lieuDepart"></ion-input>

        </div>
        
        <div> 
            <h4><ion-label color="dark" position="floating">Où allez-vous ? :</ion-label></h4>
            <ion-input placeholder="Hôtel du Moulin" [(ngModel)]="trajet.tra_lieuArrivee"></ion-input>
        </div>
        
        
        
        <div style="width: 100%;">
          <ion-grid>
              <ion-row>
            <ion-col style="width:50px;padding-right: 0;" size=1;><h4 style="display:inline-block;"><ion-label color="dark" position="floating">Etapes ?</ion-label></h4></ion-col>
            <ion-col style="padding-left: 0;"><button style="color:black; display:inline-block; width:25px; padding:2px; margin-top:16px; margin-bottom:9px" (click)="Add()"><ion-icon name="add-outline"></ion-icon></button></ion-col>
              </ion-row>
          </ion-grid>
        </div>
      </ion-item>
    </ion-list>
   
    <ion-item *ngFor="let att of anArray; let idx = index">
      <!-- <ion-label color="primary">{{att.label}}{{idx+1}}</ion-label> -->
      <ion-label>Étape {{idx+1}} :</ion-label>
      <ion-input type="text" [(ngModel)]="listeEtape[idx].value"></ion-input>
  </ion-item>
  <center><button *ngIf="listeEtape.length > 1" style="color:black; display:inline-block; width:25px; padding:2px; margin-top:16px; margin-bottom:9px" (click)="Remove()"><ion-icon name="remove-outline"></ion-icon></button></center>

    <ion-list margin-bottom>
      <ion-list-header color="light">
        <h4><ion-label class="fw700">Date et horaire</ion-label></h4>
          
        
      </ion-list-header>
      <br>

      <ion-grid style="width:100%">
        <ion-row>
          <ion-col class ="case">        
              <ion-label color="dark" position="stacked">Date de départ :</ion-label>
              <input type="date" value="" name="date" size="12" id="champ_date" maxlength="30" [(ngModel)]="trajet.tra_dateDepart">         
            </ion-col>
          <ion-col class ="case">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class ="case">         
              <ion-label color="dark" position="stacked"> Heure de départ </ion-label>
              <ion-datetime class="encadrer-un-contenu" display-format = "HH:mm" [(ngModel)]="trajet.tra_heureDepart"> </ion-datetime>          
            </ion-col>
          <ion-col class ="case">   
              <ion-label color="dark" position="stacked"> Heure d'arrivée </ion-label>
                <ion-datetime class="encadrer-un-contenu" display-format = "HH:mm" [(ngModel)]="trajet.tra_heureArrivee"> </ion-datetime>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card>
  <center><ion-button id="bouton" (click)="heure(utilisateurTrajet,trajet)">Proposer</ion-button></center>
</ion-content>
