:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))

        
    }
    .encadrer-un-contenu{ 
        border: 1px solid black; padding: 4px; 
    }

    #bouton{
       display: flex;
       margin-left: 12px;
       margin-right: 12px;
       //align-items: center;
    }

    #boutonadd{
        margin-top: auto;
        margin-bottom: auto;
    }
}
