<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>
        Trajets disponibles
      </ion-title>
    </ion-toolbar>
  </ion-header>
<!--
<ion-content>
  <ion-card>
    <div *ngFor="let trajets of liste_dates">
        <ion-list>
        <ion-item style="width:100%; display:block; margin-bottom:20px;">
          
          <ion-list style="width:100%" class="force-black-font">
          <ion-item>
            <div class="dateDepart">
              <ion-row>
                <ion-col>
                  <ion-datetime style="display:inline-block; padding-top: 18px;" class="force-black-font" display-format="DD MMM YYYY" monthShortNames='Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre, Décembre' value={{trajets.date}} disabled></ion-datetime>
                </ion-col>
              </ion-row>
              
              
            </div>
          </ion-item>
          <ion-item>
            <p> 🚘 Départ : {{trajets.trajet.tra_lieuDepart}} à</p>
            <p style="margin-top: 19px;"><ion-datetime class="force-black-font" display-format="H:mm" value={{trajets.trajet.tra_heureDepart}} disabled></ion-datetime></p>
          </ion-item>
          <ion-item>
            <p> 🏁 Arrivée : {{trajets.trajet.tra_lieuArrivee}} à</p>
            <p style="margin-top: 19px;"><ion-datetime class="force-black-font" display-format="H:mm" picker-format="H:mm" value={{trajets.trajet.tra_heureArrivee}} disabled></ion-datetime></p>
          </ion-item>
        </ion-list>
      
      </ion-item>
      </ion-list>
  </div>
  </ion-card>
  </ion-content>-->
  <!--<ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>-->
  
  