<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="historique">
      <ion-icon name="car-sport-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="rechercher">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="proposer">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-badge *ngIf="boole" style="background-color: red;"></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>


    
    
  </ion-tab-bar>

</ion-tabs>
