<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-title>
    MyCovoit
    </ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header>
<ion-card class="bg-white" no margin>
<ion-card-content>
<h1 margin-bottom>
  <ion-text color="primary"><strong>Inscription</strong></ion-text>
</h1>
<p margin-bottom>

</p>
</ion-card-content>

<ion-list margin-content>


<ion-item>
  <div>
    <ion-label color="dark" position="floatting">Nom</ion-label>
    <ion-input [(ngModel)]="user.nom" type="text" name="nom"></ion-input>
  </div>
</ion-item><br>

<ion-item>
  <div>
    <ion-label color="dark" position="floatting">Prénom</ion-label>
    <ion-input [(ngModel)]="user.prenom" type="text" name="prenom"></ion-input>
  </div>
</ion-item><br>

<ion-item>
  <div>
    <ion-label color="dark" position="floatting">Date de naissance</ion-label>
    <ion-input [(ngModel)]="user.date_naiss" type="date" name="dateNaiss"></ion-input>
  </div>
</ion-item><br>

<ion-item>
  <div>
    <ion-label color="dark" position="floatting">Adresse</ion-label>
    <ion-input [(ngModel)]="user.adresse" type="text" name="adresse"></ion-input>
  </div>
</ion-item><br>

<ion-item>
  <div>
    <ion-label color="dark" position="floatting">Ville</ion-label>
    <ion-input [(ngModel)]="user.ville" type="text" name="ville"></ion-input>
  </div>
</ion-item><br>

<ion-item>
  <div>
    <ion-label color="dark" position="floatting">Code postal</ion-label>
    <ion-input [(ngModel)]="user.cp" type="text" name="codePost"></ion-input>
  </div>
</ion-item><br>

<ion-item>
  <div>
  <ion-label color="dark" position="floatting">Genre</ion-label>
  <ion-select [(ngModel)]="user.sexe" name="genre">
    <ion-select-option value="femme">Femme</ion-select-option>
    <ion-select-option value="homme">Homme</ion-select-option>
    <ion-select-option value="autres">Autres</ion-select-option>
  </ion-select>
  </div>
</ion-item><br>

<ion-item>
  <div>
    <ion-label color="dark" position="floatting">Téléphone</ion-label>
    <ion-input [(ngModel)]="user.tel" type="text"  name="tel"></ion-input>
  </div>
</ion-item><br>


<ion-item>
  <div>
  <ion-label color="dark" position="floatting">Classe</ion-label>
  <ion-select [(ngModel)]="user.classe" name="classe">
    <ion-select-option selected="selected" value="sio">BTS SIO</ion-select-option>
    <ion-select-option value="gpme">BTS GPME</ion-select-option>
    <ion-select-option value="dcg">BTS DCG</ion-select-option>
  </ion-select>
  </div>
</ion-item><br>

    <center><ion-button (click)="envoyerUtilisateur()">S'inscrire</ion-button></center>


<br>
</ion-list>
</ion-card>
  </ion-header>