
ion-content{
    --ion-background-color: var(--ion-color-dark);

}
.flex {
    display: flex;
    justify-content: space-between;
}


.container{
         
//height: 100%;
display: block;
margin-top: 20%;
 
}
               

.MyCovoit{
    color:#ffffff;
    margin-top:30%;
    font-size:40px;
}

.champ{
    margin-right:5%;
    //border-bottom: red 1px solid !important;
}

.ligne{
    height:10px;
    width:90%;
    margin-left:5%;
    border-bottom: #eeeeee 1px solid;
}

