<ion-header [translucent]="true">
      <ion-toolbar color="dark">
      <ion-buttons slot="start">
            <ion-back-button style="color:white" defaultHref="/connexion"></ion-back-button>
          </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>

      <h1 class="MyCovoit"><strong><center>MYCOVOIT</center></strong></h1>

<div class ="container"> 
      <ion-item class="champ" lines="none">   
            <ion-label floating color="light">Mail :</ion-label>
            <ion-input (keyup.enter)="resetEmail()" placeholder="Adresse mail" no-lines type="email" color="light" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item class="ligne"></ion-item>
      
      
      <center> <ion-button color="light"  shape="round" style="margin-top:5%" (click)="resetEmail()">Réinitialiser</ion-button></center>
            
  </div>

 
</ion-content>