<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>
        Rechercher un trajet
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="beforesearch" [fullscreen]="true" (keyup.enter)="fonctionstrouvertrajets()">
    <ion-card *ngIf="beforesearch">
      <ion-toolbar>
        <ion-title >
          Où allez-vous ?
        </ion-title>
      </ion-toolbar>
    <ion-item>
      <ion-label color="dark" position="stacked">Lieu de départ :</ion-label>
      <div style="width:100%;">
        <ion-input readonly="{{isDisabledDepart()}}" style="width:80%; display:inline-block;" (ngModelChange)="getVilleDepart($event)" (ionFocus)="showVilleDepart(true)"id="test" placeholder="Ville de départ" [(ngModel)]="Tra_lieuDepartBIS" type="string" ></ion-input>
        <ion-icon (click)="suppVilleDepart()" *ngIf="Tra_lieuDepartBIS != ''" style="width: 25px;height: 25px;float: right;display: block;margin-top: 7px;" name="close"></ion-icon>
      </div>
      <div *ngIf="liste_depart.length>0 && showvilleDepart==true && Tra_lieuDepartBIS.length>=3">
        <ion-list>
          <ion-item (click)="addVilleDepart(liste_depart[0])" *ngIf="liste_depart[0] != undefined && liste_depart[0].codeDepartement != undefined">{{liste_depart[0].nom}} ( {{liste_depart[0].codeDepartement}} )</ion-item>
          <ion-item (click)="addVilleDepart(liste_depart[1])" *ngIf="liste_depart[1] != undefined && liste_depart[1].codeDepartement != undefined">{{liste_depart[1].nom}} ( {{liste_depart[1].codeDepartement}} )</ion-item>
          <ion-item (click)="addVilleDepart(liste_depart[2])" *ngIf="liste_depart[2] != undefined && liste_depart[2].codeDepartement != undefined">{{liste_depart[2].nom}} ( {{liste_depart[2].codeDepartement}} )</ion-item>
        </ion-list>
      </div>
    </ion-item>
  
    <ion-item>
      <ion-label color="dark" position="stacked">Lieu d'arrivée :</ion-label>
      <div style="width:100%;">
        <ion-input readonly="{{isDisabledArrivee()}}" style="width:80%; display:inline-block;" (ngModelChange)="getVilleArrivee($event)" (ionFocus)="showVilleArrivee(true)"id="test" placeholder="Ville d'arrivée" [(ngModel)]="Tra_lieuArriveeBIS" type="string" ></ion-input>
        <ion-icon (click)="suppVilleArrivee()" *ngIf="Tra_lieuArriveeBIS != ''" style="width: 25px;height: 25px;float: right;display: block;margin-top: 7px;" name="close"></ion-icon>
      </div>
      <div *ngIf="liste_arrivee.length>0 && showvilleArrivee==true && Tra_lieuArriveeBIS.length>=3">
        <ion-list>
          <ion-item (click)="addVilleArrivee(liste_arrivee[0])" *ngIf="liste_arrivee[0] != undefined && liste_arrivee[0].codeDepartement != undefined">{{liste_arrivee[0].nom}} ( {{liste_arrivee[0].codeDepartement}} )</ion-item>
          <ion-item (click)="addVilleArrivee(liste_arrivee[1])" *ngIf="liste_arrivee[1] != undefined && liste_arrivee[1].codeDepartement != undefined">{{liste_arrivee[1].nom}} ( {{liste_arrivee[1].codeDepartement}} )</ion-item>
          <ion-item (click)="addVilleArrivee(liste_arrivee[2])" *ngIf="liste_arrivee[2] != undefined && liste_arrivee[2].codeDepartement != undefined">{{liste_arrivee[2].nom}} ( {{liste_arrivee[2].codeDepartement}} )</ion-item>
        </ion-list>
      </div>
    </ion-item>
   
    <ion-item>
      <ion-label color="dark" position="stacked">Date de départ :</ion-label>
      <!-- <ion-input [(ngModel)]="Tra_dateDepart" type="date" [min]=today [max]=datemax required></ion-input> -->
      <ion-datetime displayFormat="DD/MM/YYYY" [min]="today" [max]="datemax" [(ngModel)]="Tra_dateDepart"></ion-datetime>
    </ion-item>

  
   <!-- <ion-item>
      <ion-label position="floating">Nombres de passagers</ion-label>
      <ion-input [(ngModel)]="tra_nbPassager" placeholder="Nombres de passagers" type="number" min="1" id="nbPassa"></ion-input>
    </ion-item>
  -->

  </ion-card>
  
  <div class="padding" *ngIf="beforesearch">  
      <ion-grid>
        <ion-row>
          <ion-col class ="case">   
            <ion-button id="bouton" (click)="fonctionstrouvertrajets()" type="submit">Rechercher</ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>

    <ion-content class="padding" *ngIf="!beforesearch">   <!--*ngIf="!beforesearch"-->
      <Center><strong><h1>Trajets disponibles</h1></strong></Center>
      <ion-grid>
        <ion-row>
          <ion-col class ="case">   
    <ion-card *ngFor="let trajets of liste_trajetdispo">
      <div (click)="suppValue()">
      <div [routerLink]="['/infos-trajet']" fragment="{{trajets.trajet.tra_id}}">

      <ion-item>
        <ion-col size=3>
          <ion-avatar style="width:48px; height:48px">
            <img [src]="trajets.photo">
          </ion-avatar>
        </ion-col>
        <ion-col size=5>
          <p style=" max-width:150px; padding-left:0; text-align:left;">{{trajets.utilisateur.prenom}}</p>
        </ion-col>
        <ion-col>
          <ion-label class="force-black-font" >{{trajets.trajet.tra_dateDepart | date : 'dd/MM/yyyy'}}</ion-label>
        </ion-col>
      </ion-item>
        
      <ion-item>
        <span class="important">Départ : </span>
        <p style="width:50px" class="force-black-font" > &nbsp; {{trajets.trajet.tra_heureDepart | date : 'HH:mm'}}</p>
        <p class="force-black-font" >&nbsp; ➜ &nbsp;</p>
        <p>{{ trajets.trajet.tra_lieuDepart }}</p>
      </ion-item>

      <ion-item>
        <span class="important">Arrivée : </span>
        <p style="width:50px" class="force-black-font" > &nbsp; {{trajets.trajet.tra_heureArrivee | date : 'HH:mm'}}</p>
        <p class="force-black-font" >&nbsp; ➜ &nbsp;</p>
        <p >{{ trajets.trajet.tra_lieuArrivee }}</p>
      </ion-item>

      

    </div>
    </div>
    </ion-card>
    <ion-button id="bouton"  (click)="retour()" type="submit">Retour</ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>

        </ion-content>
  