<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <!--Contenu de la page-->
  <section>
    <div class="entete">
      <h1 class="presentation-util" style="color:#ffffff; margin:0;">
        <span class="insert-photo">
          <a (click)="goProfil()">Photo</a>
        </span>
        <div *ngFor='let item of utilisateurs | async'>
          <p style="color:#ffffff; font-size:22px"  *ngIf='item.id == userid'>Bonjour {{item.prenom}} !</p>
        </div >
        
       
      </h1>
    </div>
    <ion-content>

      <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime>
    </ion-content>
    
    
    <!-- Proposer un trajet ? -->
   <div class="accueil_trajet">
      <center><h3 class="titre1">Vous n'avez aucun trajet de prévu ...</h3></center>
      <center><p>Voulez-vous en proposer un ? Cliquez <a href="../tabs/tab3">ici</a> !</p> </center>
      <center><p>Voulez préférez rechercher un trajet ? Alors cliquez <a href="../tabs/tab1">là</a> !</p></center>
    </div>

    <!-- Trajets disponibles -->
    <div class="accueil_trajet">
      <h3 class="titre1">Liste des trajets prévus</h3>
      <ion-list>
      <ion-item *ngFor='let item of trajets | async' style="width:100%; display:block; margin-bottom:20px;">
        <ion-list style="width:100%" class="force-black-font">
          <ion-item><div class="dateDepart">
            <ion-datetime style="display:inline-block" class="force-black-font" display-format="DD MMM YYYY" monthShortNames='Jan, Fév, Mar, Avr, Mai, Jun, Jul, Aoû, Sep, Oct, Nov, Déc' value={{item.tra_dateDepart}} disabled></ion-datetime>
            </div></ion-item>
        <ion-item>
          <p> 🚘 Départ : {{item.tra_lieuDepart}} à</p>
          <p style="margin-top: 19px;"><ion-datetime class="force-black-font" display-format="H:mm" value={{item.tra_heureDepart}} disabled></ion-datetime></p>
        </ion-item>
        <ion-item>
          <p> 🏁 Arrivée : {{item.tra_lieuArrivee}} à</p>
          <p style="margin-top: 19px;"><ion-datetime class="force-black-font" display-format="H:mm" picker-format="H:mm" value={{item.tra_heureArrivee}} disabled></ion-datetime></p>
        </ion-item>
      </ion-list>
    
      </ion-item>
    </ion-list>
    </div>
  </section>
</ion-content>
