<ion-header [translucent]="true" *ngIf="returnConnected()">
</ion-header>

<ion-content [fullscreen]="true">

  <!--Contenu de la page-->
  <section *ngIf="returnConnected()">
    <div class="entete">
      <h1 class="presentation-util" style="color:#ffffff; margin:0;">
        <span class="insert-photo">
          <a (click)="goProfil()">Photo</a>
        </span>
        <div *ngFor='let item of utilisateurs | async'>
          <p style="color:#ffffff; font-size:22px"  *ngIf='item.id == userid'>Bonjour {{item.prenom}} !</p>
        </div >
        
       
      </h1>
    </div>
    <ion-content>

      <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime>
    </ion-content>
    
    
    <!-- Proposer un trajet ? -->

   <div class="accueil_trajet" *ngIf="!trajetprevus">
      <h3 class="titre1">Vous n'avez aucun trajet de prévu ...</h3>
      <p>Voulez-vous en proposer un ? Cliquez <a href="../tabs/tab3">ici</a> !</p> 
      <p>Voulez préférez rechercher un trajet ? Alors cliquez <a href="../tabs/historique">là</a> !</p>
   </div>
 

    <!-- Trajets disponibles -->

    <div class="accueil_trajet" *ngIf="trajetprevus" >

      
      <h3 class="titre1"><center>Liste des trajets prévus</center></h3>
        <div *ngFor="let trajets of liste_dates">
          <ion-list>
          <ion-item style="width:100%; display:block; margin-bottom:20px;">
            
            <ion-list style="width:100%" class="force-black-font">
            <ion-item>
              <div class="dateDepart">
                <ion-row>
                  <ion-col>
                    <p>{{trajets.role}} :</p>
                  </ion-col>
                  <ion-col>
                    <ion-datetime style="display:inline-block; padding-top: 18px;" class="force-black-font" display-format="DD MMM YYYY" monthShortNames='Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre, Décembre' value={{trajets.date}} disabled></ion-datetime>
                  </ion-col>
                </ion-row>
                
                
              </div>
            </ion-item>
            <ion-item>
              <p> 🚘 Départ : {{trajets.trajet.tra_lieuDepart}} à</p>
              <p style="margin-top: 19px;"><ion-datetime class="force-black-font" display-format="H:mm" value={{trajets.trajet.tra_heureDepart}} disabled></ion-datetime></p>
            </ion-item>
            <ion-item>
              <p> 🏁 Arrivée : {{trajets.trajet.tra_lieuArrivee}} à</p>
              <p style="margin-top: 19px;"><ion-datetime class="force-black-font" display-format="H:mm" picker-format="H:mm" value={{trajets.trajet.tra_heureArrivee}} disabled></ion-datetime></p>
            </ion-item>
          </ion-list>
        
        </ion-item>
        </ion-list>
    </div>
  </div>
      
  



  </section>
</ion-content>


