.insert-photo {
    background:#c7c9ff;
    border:1px dashed #2f32a0;
    border-radius:50%;
    float:left;
    font-weight:bold;
    margin:8px;
    text-align:center;
    width:60px;
    height:60px;
   }

.insert-photo a {
    color:#2f32a0;
    display:table-cell;
    font-size:13px;
    line-height:13px;
    vertical-align:middle;
    text-align:center;
    width:60px;
    height:60px
}

.dateDepart{
    width:100%;
    background-color: rgba(17,10,59,0.4);
    padding:15px 0px;
    text-align: center;
    font-size: 20px;
}

.input-wrapper, .item-inner, .item-native{
    display:block;
}

.presentation-util{
    padding:2%;
    background-color: #110A3B;
}

.titre1 {
    font-size:19px;
    color:#2f32a0;
    padding-top:5%;
}

.datetime-text {
    color: black !important;
    opacity:1;
  }

.datetime-disabled{
    color: black !important;
    opacity:1;
    margin:0;
    padding :2px 5px;
    width:auto;
}

.accueil_trajet{
    margin:0px 15px;
}