
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>
        Messages
      </ion-title>
    </ion-toolbar>
        <ion-searchbar></ion-searchbar>
  </ion-header>
 

<ion-content>

  <ion-list>
    <ng-container *ngFor="let userShow of messagesView; let i=index" >
    <ion-item detail (click)="goConvers(userShow[0])" *ngIf="userShow[0]!=userId">
      
        <ion-avatar slot="start" >
          <ng-container *ngFor="let userPhoto of photoView | async">
            <span *ngIf="userPhoto.user==userShow[0]">
              <img class="imgProfil" [src]="userPhoto.photo">
            </span>
          </ng-container>
        </ion-avatar>
        <ion-label *ngIf="userShow[0]!=userId">
          <ion-label>{{userShow[1]}} {{userShow[2]}}</ion-label>
          
          
          <span>
            <span *ngIf="userShow[5]==true && userShow[0]!=userId">
              <p><ion-icon class="text-icon" color="primary" name="checkmark"></ion-icon>{{userShow[4]}}</p>
            </span>

            <span *ngIf="userShow[5]!=true && userShow[0]!=userId">
              <p>{{userShow[4]}}</p>
            </span>
          </span>
          
          
          
        </ion-label>
    </ion-item>
  </ng-container>
  </ion-list>


  <!-- <ion-button (click)="add()">Ajouter</ion-button> -->
  
  
</ion-content>
